<html>

<head>
  <meta charset="UTF-8">
  <title>Top Viewed Movies</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/mostviewed.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/topRated.js') }}"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand text-light">Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link text-light" href="{{url_for('home')}}">Home
          <span class="sr-only"></span></a>
        <a class="nav-item nav-link text-light" href="{{url_for('topViewed')}}">Most Viewed Movies
          <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link text-light" href="{{url_for('topRated')}}">Top Rated Movies
            <span class="sr-only">(current)</span></a>
      </div>
    </div>
  </nav>
  <section class="gradient-form">
    <div class="container-xxl" align="center">
      <div align="center">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </section>
</body>

</html>